# dev
black
pylint
pylance
autopep8
flake8
wheel
hatch
twine
pytest

# utils
pyperclip

# docs
sphinx
sphinx-sitemap
sphinx-intl
sphinx-autobuild
sphinxext-opengraph
myst-parser
rstcheck[sphinx]
doc8
esbonio
furo
pythainlp
matplotlib
html5validator